extends layout

append head
	link(rel="stylesheet", type="text/css", href="/css/search.css")

block content
	section#controls
		ul#search_controls
			li#search_query
				input(id="search_input", type="text")
				button(id="search_button") Search
				button(id="advanced_button")
		#advanced_controls
			div
				dl#groups
					dt Group By:
					dd
						input(type="radio", value="default", name="browse", checked="checked")
						button Default

						input(type="radio", value="category", name="browse")
						button Category

						input(type="radio", value="author", name="browse")
						button Author

				dl#filters
					dt Filters:
					dd
						input(id="include_forks", type="checkbox")
						button Include forks

						input(id="official_tags", type="checkbox")
						button Only Show Official Tags

						input( id="ie9_compat", type="checkbox")
						button Only IE9 Compatible

				dl
					dt Add Tags to this registry.
						i         eg. https://github.com/x-tag/accordion
					dd#add_tag
						input(id="tag_repo")
						button(id="add_tag_button") Add
						div(id="tag_repo_message")

	dl#results

append scripts
	script(type="text/javascript", src="/js/mootools-core-1.4.5.js")
	script(type="text/javascript", src="/js/Extend.Core.js")
	script(type="text/javascript", src="/js/Extend.DOM.js")
	script(type="text/javascript", src="/js/mootools-more-1.4.0.1.js")
	script(type="text/javascript", src="/js/Extend.More.js")
	script(type="text/javascript", src="/js/Template.js")
	script(type="text/javascript", src="/js/ContentBox.js")
	script(type="text/javascript", src="/highlight/highlight.pack.js")
	script(type="text/javascript", src="/js/page.js")
	script(type="text/javascript", src="/js/search.js")