extends layout

block head
	style(type="text/css")
		#logs{
			background-color: #fff;
			border: 1px solid;
			border-color: #bbb #ccc #ddd;
			border-radius: 4px;
			-o-border-radius: 4px;
			-ms-border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			padding: 4px 8px;
		}

		#logs li{
			margin-top: 10px;
			margin-left: 17px;
			list-style-type: square;
			word-wrap: break-word;
		}


block content
	h1 Logs
	ul#logs.content-box
		each item in logs 
			li= item.createdAt.getFullYear() + "-" + item.createdAt.getMonth() + "-" + item.createdAt.getDate() + " " + item.createdAt.getHours() + ":" + item.createdAt.getMinutes() + ":" + item.createdAt.getSeconds() + " :: " + item.entry
				
append scripts