
body
{
	font-family: Segoe UI, Trebuchet MS, Helvetica, Arial;
	font-size: 14px;
	background: url(../images/church.png);
}

a {
	color: #226AB3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #634AB3;
}

h1, h2, h3, h4 , dt, .font {
	position: relative;
	font-family: 'Maven Pro', san-serif;
	font-weight: bold;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 165%;
}

h3 {
	font-size: 120%;
}

p {
	margin: 0 0 10px;
}

code {
	padding: 0 2px 1px;
	border: 1px solid;
	border-color: #dfdfdf #dadada #d0d0d0;
	font-size: 80%;
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

pre code {
	padding: 0 1em 1em;
	background: #fff;
	border: solid 1px #ddd;
}

p code {
	position: relative;
    top: -1px;
	margin: 0 2px;
	background: linear-gradient(top, #fafafa, #efefef);
	background: -o-linear-gradient(top, #fafafa, #efefef);
	background: -ms-linear-gradient(top, #fafafa, #efefef);
	background: -moz-linear-gradient(top, #fafafa, #efefef);
	background: -webkit-linear-gradient(top, #fafafa, #efefef);
}

h3 a {
	letter-spacing: -1px;
}

h4 {
	margin: 14px 0 4px;
}

h4 code {
	padding: 0 3px;
	background: url("../images/header-bk.png") left -10px;
	border: 1px solid #226AB3;
    border-bottom: 1px solid #003474;
    border-radius: 5px;
	color: #fff;
	font-size: 90%;
}

h4 span {
	padding-left: 6px;
	font-family: Segoe UI, Trebuchet MS, Helvetica, Arial;
	font-style: italic;
}

button, .button {
	margin-bottom: 10px;
	padding: 4px 6px;
	font-size: 95%;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	background-color: #555;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #777;
	border-bottom: 1px solid #999;
	box-shadow: 0px 1px 3px -2px #000;
	-o-box-shadow: 0px 1px 3px -2px #000;
	-ms-box-shadow: 0px 1px 3px -2px #000;
	-moz-box-shadow: 0px 1px 3px -2px #000;
	-webkit-box-shadow: 0px 1px 3px -2px #000;
	cursor: pointer;
}

button:active, button.pressed, .button.pressed, #groups input[type="radio"]:checked + button {
	background: #555;
	border: 1px solid #777;
	border-top: 1px solid #222;
	box-shadow: 0px 1px 4px -2px #000 inset;
	-o-box-shadow: 0px 1px 4px -2px #000 inset;
	-ms-box-shadow: 0px 1px 4px -2px #000 inset;
	-moz-box-shadow: 0px 1px 4px -2px #000 inset;
	-webkit-box-shadow: 0px 1px 4px -2px #000 inset;
}

.button_dark {
	border: 1px solid #666;
	border-bottom: 1px solid #555;	
	background-color: #333;
}

button code {
	position: relative;
    top: -1px;
	background: #fff;
}




div.slider {
	display: table;
	border: 1px solid;
	border-color: #afafaf #bbb #ccc;
	background: linear-gradient(top, rgba(0,0,0, 0.1), rgba(255,255,255, 0.15));
	background: -o-linear-gradient(top, rgba(0,0,0, 0.1), rgba(255,255,255, 0.15));
	background: -ms-linear-gradient(top, rgba(0,0,0, 0.1), rgba(255,255,255, 0.15));
	background: -moz-linear-gradient(top, rgba(0,0,0, 0.1), rgba(255,255,255, 0.15));
	background: -webkit-linear-gradient(top, rgba(0,0,0, 0.1), rgba(255,255,255, 0.15));
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

	div.slider div {
		display: table-cell
	}

		div.slider input[type="radio"] {
			display: block;
			width: 100%;
			text-align: center;
			margin: 0 auto;
		}

body > header {
	display: block;
	width: 100%;
	color: #fff;
	background: rgba(0,0,0, 0.65);
	border-bottom: 1px solid rgba(0,0,0, 0.8);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	
}

.global_nav {
	max-width: 500px;
	margin: 0 auto;
}
.global_nav a:first-child, .global_nav a:last-child {
	vertical-align: top;
	padding-top: 8px;
	display: inline-block;
	font-size: 16px
}
	

body > header a {
	color: ghostwhite;
	font-weight: bold;
	text-decoration: none;
	margin: 0 16px;
	cursor: pointer;
}

body > header a:visited{
	color: ghostwhite;
}

#global_nav a[selected]  {
  border-bottom: 4px solid #6191CB;
  background-color: transparent;
  cursor: default;
}


.anchor-id {
	position: absolute;
	top: -75px;
	left: 0px;
}

.font {
	color: #555;
	font-size: 90%;
}

header {
	text-align: center;
	text-shadow: 0 2px 1px rgba(0,0,0, 0.8);
}

header a h1 {
	
	display: inline-block;
	margin-left: 8px;
	line-height: 46px;
	color: #6191CB;
	text-shadow: 0 1px 0 #3E659B, 0 -1px 0 rgba(0, 52, 116, 0.7);
}


#logo {
	border-top: 4px solid transparent;
	color: #F3F3F3;
    font-family: 'Righteous';
    font-size: 27px;
    font-weight: normal;
  	line-height: 29px;
  	text-align: center;
	display: inline-block;
}

#logo > span {
	position: relative;
    top: -4px;    
    margin: 0 1px 0 2px;
    font-size: 24px;

}
#logo > span > span{
	font-family: 'Maven Pro';
	font-size: 25px;	
	font-weight: bold;
	letter-spacing: -1px;
}

#site_name{
	vertical-align: top;
	margin: 6px 0 0 6px;
	font-size: 20px;  	
  	text-align: center;
	display: inline-block;		
}

.max-width {
	width: 90%;
	min-width: 300px;
	max-width: 680px;
	margin: 0 auto;
}

div.max-width > dl, #readme, #xtag-details {
	margin-bottom: 40px;
	padding: 12px 10px;
	background: #fff;
	border: 1px solid;
	border-color: #bbb #ccc #ddd;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	clear: both;
}

div.max-width > dl dt {
	font-size: 120%;
	background: linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -o-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -ms-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -moz-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -webkit-linear-gradient(top, #F3F3F3, #E6E6E6);
	border: 1px solid;
	border-color: #E6E6E6 #dadada #d0d0d0;
	margin-bottom: 8px;
	padding: 2px 6px;
	text-shadow: 0 1px 0 #fff;
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.max-width > dl dd {
	margin: 0 10px 20px;
}

div.max-width > dl dd ol {
	margin: 0 15px 10px;
	padding: 6px 6px 6px 26px;
	background: #fafafa;
	border: 1px solid #eee;
}

div.max-width > dl > dd:last-child p:last-child {
	margin-bottom: 0px;
}

#instructions {
	opacity: 0;
	height: 0;
}

#toggleInstructions{
	
}

#controls {
	margin-top: 40px;
	margin-bottom: 14px;
	border-bottom: 2px dashed #fafafa;
}

	#controls:after {
		content: " ";
		display: block;
		margin-bottom: -1px;
		border-bottom: 2px dashed #ccc;
	}


#doc_list dd {
	margin-bottom: 12px;
	border-bottom: 1px dashed #bbb;
}

#doc_list dd:last-child {
	border-bottom: none;
}

div.view-box {
	margin-top:40px;
}

div.view-box > h3{
	float: left;
	margin-bottom: 10px;
	padding: 4px 9px;
	font-size: 135%;
	color: #fff;
	text-decoration: none;
	background-color: #444;
	border-radius: 5px;
	border: 1px solid #777;
	border-bottom: 1px solid #999;
	box-shadow: 0px 1px 3px -2px #000;
	-ms-box-shadow: 0px 1px 3px -2px #000;
	-moz-box-shadow: 0px 1px 3px -2px #000;
	-webkit-box-shadow: 0px 1px 3px -2px #000;
}

div.view-box > dl {
	margin-bottom: 40px;
	padding: 12px 10px;
	background: #fff;
	border: 1px solid;
	border-color: #bbb #ccc #ddd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	clear: both;
}

div.view-box > dl dt{
	font-size: 120%;
	background: linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -ms-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -moz-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -webkit-linear-gradient(top, #F3F3F3, #E6E6E6);
	border: 1px solid;
	border-color: #E6E6E6 #dadada #d0d0d0;
	margin-bottom: 8px;
	padding: 2px 6px;
	text-shadow: 0 1px 0 #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.view-box > dl dd {
	margin: 0 10px 20px;
}

#xtag-details em {
	width:105px;
	display: block;
	float: left;
	font-weight: bold;
}

#xtag-details select.themes option, #xtag-details select.themes{
	text-transform: capitalize;
}

.x-tag-element{
	margin: 10px 0;
	padding: 10px;
	border: dashed 1px #ddd;
}

div.view-box h3 a:visited {
	color: #fff;
}

dl > h2{
	margin-bottom: 14px;
}

