
body
{
	padding-top: 80px;
	font-family: Segoe UI, Trebuchet MS, Helvetica, Arial;
	font-size: 14px;
	background: url(../images/spatter.jpg);
}

a {
	color: #226AB3;
}

a:visited {
	color: #634AB3;
}

h1, h2, h3, h4 , dt, .font, #logo {
	position: relative;
	font-family: 'Days One', san-serif;
	font-weight: normal;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 165%;
}

h3 {
	font-size: 135%;
}

p {
	margin: 0 0 10px;
}

code {
	padding: 0 2px 1px;
	border: 1px solid;
	border-color: #dfdfdf #dadada #d0d0d0;
	font-size: 80%;
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

pre code {
	padding: 0 1em 1em;
	background: #fafafa;
	border: 1px solid #eee;
}

p code {
	position: relative;
    top: -1px;
	margin: 0 2px;
	background: linear-gradient(top, #fafafa, #efefef);
	background: -o-linear-gradient(top, #fafafa, #efefef);
	background: -ms-linear-gradient(top, #fafafa, #efefef);
	background: -moz-linear-gradient(top, #fafafa, #efefef);
	background: -webkit-linear-gradient(top, #fafafa, #efefef);
}

h4 {
	margin: 14px 0 4px;
}

h4 code {
	padding: 0 3px;
	background: url("../images/header-bk.png") left -10px;
	border: 1px solid #226AB3;
    border-bottom: 1px solid #003474;
    border-radius: 5px;
	color: #fff;
	font-size: 90%;
}

h4 span {
	padding-left: 6px;
	font-family: Segoe UI, Trebuchet MS, Helvetica, Arial;
	font-style: italic;
}

button, .button {
	margin-bottom: 10px;
	padding: 4px 6px;
	font-size: 95%;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	background: url("../images/header-bk.png");
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #226AB3;
	border-bottom: 1px solid #003474;
	box-shadow: 0px 1px 3px -2px #000;
	-o-box-shadow: 0px 1px 3px -2px #000;
	-ms-box-shadow: 0px 1px 3px -2px #000;
	-moz-box-shadow: 0px 1px 3px -2px #000;
	-webkit-box-shadow: 0px 1px 3px -2px #000;
	cursor: pointer;
}

button:active, button.pressed, .button.pressed, #sorts input[type="radio"]:checked + button {
	background: #3A6EAF;
	border: 1px solid #226AB3;
	border-top: 1px solid #003474;
	box-shadow: 0px 1px 4px -2px #000 inset;
	-o-box-shadow: 0px 1px 4px -2px #000 inset;
	-ms-box-shadow: 0px 1px 4px -2px #000 inset;
	-moz-box-shadow: 0px 1px 4px -2px #000 inset;
	-webkit-box-shadow: 0px 1px 4px -2px #000 inset;
}

button code {
	position: relative;
    top: -1px;
	background: #fff;
}

body > header {
	position: fixed;
	top: 0;
	left: 0;
	height: 46px;
	width: 100%;
	border-top: 1px solid #003576;
	border-bottom: 2px solid #003474;
	background: url(../images/header-bk.png);
	box-shadow: 0 1px 4px -2px #000;
	-o-box-shadow: 0 1px 4px -2px #000;
	-ms-box-shadow: 0 1px 4px -2px #000;
	-moz-box-shadow: 0 1px 4px -2px #000;
	-webkit-box-shadow: 0 1px 4px -2px #000;
	opacity: 0.95;
	z-index: 2;
}

body > header > iframe, body > header > a {
	float: right;
	margin-top: 13px;
}

.anchor-id {
	position: absolute;
	top: -75px;
	left: 0px;
}

.font {
	color: #555;
	font-size: 90%;
}

header {
	text-align: center;
}

header h1 {
	position: relative;
	left: -6px;
	line-height: 46px;
	color: #6191CB;
	text-shadow: 0 1px 0 #3E659B, 0 -1px 0 rgba(0, 52, 116, 0.7);
}

#logo {
	float: left;
	margin-left: 8px;
	font-family: 'Righteous';
	font-size: 275%;
	color: #F3F3F3;
	text-shadow: 0 1px 0 #fff, 0 -1px 0 rgba(0,52,116, 0.7);
}

#logo span {
	position: relative;
    top: -6px;
    font-size: 90%;
    margin: 0 2px;
}

.max-width {
	width: 90%;
	min-width: 300px;
	max-width: 680px;
	margin: 0 auto;
}

div.max-width > dl {
	margin-bottom: 40px;
	padding: 12px 10px;
	background: #fff;
	border: 1px solid;
	border-color: #bbb #ccc #ddd;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	clear: both;
}

div.max-width > dl dt {
	font-size: 120%;
	background: linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -o-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -ms-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -moz-linear-gradient(top, #F3F3F3, #E6E6E6);
	background: -webkit-linear-gradient(top, #F3F3F3, #E6E6E6);
	border: 1px solid;
	border-color: #E6E6E6 #dadada #d0d0d0;
	margin-bottom: 8px;
	padding: 2px 6px;
	text-shadow: 0 1px 0 #fff;
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.max-width > dl dd {
	margin: 0 10px 20px;
}

div.max-width > dl dd ol {
	margin: 0 15px 10px;
	padding: 6px 6px 6px 26px;
	background: #fafafa;
	border: 1px solid #eee;
}

div.max-width > dl > dd:last-child p:last-child {
	margin-bottom: 0px;
}

#controls {
	margin-bottom: 14px;
	border-bottom: 2px dashed #fafafa;
}

	#controls:after {
		content: " ";
		display: block;
		margin-bottom: -1px;
		border-bottom: 2px dashed #ccc;
	}

#search_query {
	padding-right: 116px;
}

	#search_query input{
		width: 100%;
		padding: 2px 3px;
		font-size: 120%;
		border: 1px solid #226AB3;
		border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow: 0 1px 3px -2px #666 inset;
		-o-box-shadow: 0 1px 3px -2px #666 inset;
		-ms-box-shadow: 0 1px 3px -2px #666 inset;
		-moz-box-shadow: 0 1px 3px -2px #666 inset;
		-webkit-box-shadow: 0 1px 3px -2px #666 inset;
	}
	
	#search_query input:focus{
		box-shadow: 0 1px 5px -2px #226AB3 inset;
		-o-box-shadow: 0 1px 5px -2px #226AB3 inset;
		-ms-box-shadow: 0 1px 5px -2px #226AB3 inset;
		-moz-box-shadow: 0 1px 5px -2px #226AB3 inset;
		-webkit-box-shadow: 0 1px 5px -2px #226AB3 inset;
	}
	
	#search_button {
		position: relative;
		top: -2px;
		margin-left: 6px;
		margin-right: -92px;
	}
	
	#advanced_button {
		float: right;
		margin-right: -118px;
		padding: 4px 3px;
	}
	
	#advanced_button:before {
		content: url(../images/gear-white.png);
		display: block;
		height: 16px;
	}

#advanced_controls {
	height: 0;
	overflow: hidden;
}
	
	#advanced_controls > div {
		margin-top: 8px;
		overflow: hidden;
	}
	
	#sorts {
		margin-bottom: 10px;
	}
	
	#sorts input[type="radio"] {
		display: none !important;
	}

	#sorts button {
		position: relative;
		margin-left: 14px;
		padding-left: 23px;
	}

		#sorts input:first-child + button {
			margin-left: 0;
		}

	#sorts input[type="radio"] + button:before {
		content: " ";
		display: block;
		position: absolute;
		top: 5px;
		left: 6px;
		height: 8px;
		width: 8px;
		border: 4px solid #fff;
		background: #fff;
		border-radius: 12px;
		-o-border-radius: 12px;
		-ms-border-radius: 12px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}

		#sorts input[type="radio"]:checked + button:before {
			background: #42BA52;
			background: linear-gradient(top, #42BA52, #129621);
			background: -o-linear-gradient(top, #42BA52, #129621);
			background: -ms-linear-gradient(top, #42BA52, #129621);
			background: -moz-linear-gradient(top, #42BA52, #129621);
			background: -webkit-linear-gradient(top, #42BA52, #129621);
		}

#result_list {
	background: #fff;
    padding: 8px 11px 0;
	border: 1px solid;
	border-color: #bbb #ccc #ddd;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

	#result_list > li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 12px;
		padding-right: 50px;
		border-bottom: 1px dashed #ddd;
		overflow: hidden;
	}
	
	#result_list > li:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
		
		a.tag-demo {
			position: absolute;
			top: 50%;
			right: 0px;
			width: 36px;
			margin-top: -20px;
			font-size: 10px;
			outline: none;
			color: #0B3D7A;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			letter-spacing: 1px;
			opacity: 0.7;
		}
			
			a.tag-demo:before {
				display: block;
				content: url(../images/screen-pointer.png);
			}
			
			a.tag-demo:after {
				content: "DEMO";
			}
			
			a.tag-demo:hover {
				text-decoration: underline;
				opacity: 1.0;
			}
			
		div.tag-header {
			overflow: hidden;
		}
		
			div.tag-header h3 {
				float: left;
				margin-bottom: 2px;
				margin-right: 10px;
			}
				
				div.tag-header h3 a {
					text-decoration: none;
				}
				
				div.tag-header h3 a:hover {
					text-decoration: underline;
				}
				
				div.tag-header h3 span {
					position: relative;
					top: -2px;
					color: #888;
					font-size: 60%;
					font-style: italic;
					font-family: Segoe UI, Trebuchet MS, Helvetica, Arial;
				}
				
				span.tag-author:before, span.tag-author:after {
					content: '\2022';
					margin: 0 6px;
				}
			
			nav.tag-categories {
				float: left;
				overflow: hidden;
			}
			
			nav.tag-categories a {
				display: block;
				float: left;
				position: relative;
				margin: 5px 8px 8px;
				padding: 2px 5px;
				font-size: 70%;
				background: #eee;
				color: #999;
				text-shadow: 0 1px 0 #fff;
				cursor: pointer;
			}
			
				nav.tag-categories a:hover {
					color: #fff;
					background: #6795CC;
					text-shadow: 0 1px 0 #3E649A;
				}
			
			nav.tag-categories a:before {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				left: -8px;
				height: 0;
				width: 0;
				border-bottom: 8px dotted transparent;
				border-right: 8px solid #eee;
				border-top: 8px dotted transparent;
			}
				
				nav.tag-categories a:hover:before {
					border-bottom: 8px solid transparent;
					border-right: 8px solid #6795CC;
					border-top: 8px solid transparent;
				}
			
			nav.tag-categories a:after {
				content: "";
				display: block;
				position: absolute;		
				left: -3px;
				top: 6px;
				height: 4px;
				width: 4px;
				background: #fff;
				border-radius: 4px;
				-o-border-radius: 4px;
				-ms-border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
			
			nav.tag-categories b {
				position: relative;
				top: -1px;	
			}
	
	div.tag-version {
		font-size: 65%;
		margin-top: 4px;
		padding: 0 1px 1px;
	}
	
	p.tag-description {
		
	}
		
	ul.tag-compatibility {
		
	}

		ul.tag-compatibility li {
			display: inline;
		}
			
		li.browser {
			margin-right: 4px;
			padding-right: 3px;
			border-right: 1px dotted #ddd;
			font-size: 95%;
			font-weight: bold;
		}
		
			li.browser:last-child {
				border: none;
			}
			
			li.browser:before {
				position: relative;
				top: 2px;
				margin-right: 4px;
			}
			
			li.browser:after {
				content: '+';
			}
			
			li.browser.firefox:before {
				content: url(../images/firefox-16.png);
			}

			li.browser.chrome:before {
				content: url(../images/chrome-16.png);
			}

			li.browser.safari:before {
				content: url(../images/safari-16.png);
			}

			li.browser.opera:before {
				content: url(../images/opera-16.png);
			}

			li.browser.ie:before {
				content: url(../images/ie-16.png);
			}
			
			li.browser.android:before {
				content: url(../images/android-16.png);
			}

			li.browser.ios:before {
				top: 4px;
				margin-left: 1px;
				margin-right: 3px;
				content: url(../images/ios-16.png);
			}
	
#browser_logos {
	display: table;
	width: 100%;
	margin: 20px auto
}

#browser_logos a {
    display: table-cell;
	width: 20%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #466EA6;
}

#browser_logos a img {
	display: block;
	width: 75%;
	max-width: 61px;
	margin: 0 auto;
}

#browser_logos a span {
	display: block;
    font-size: 10px;
	color: #999;
}

#doc_list dd {
	margin-bottom: 12px;
	border-bottom: 1px dashed #bbb;
}

#doc_list dd:last-child {
	border-bottom: none;
}
